.headerHistory {
  display: flex;
  padding-bottom: 49px;
  border-bottom: 1px solid #333;
}
.productInHistory {
  display: flex;
  align-items: center;
  padding: 29px 0;
  border-bottom: 1px solid #333;
  text-decoration: none;
  color: black;
}
.productInHistory:hover {
  color: black;
}
.productInHistory:last-child {
  border: none;
}
