.product {
  display: block;
  text-decoration: none;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 8px;
}
.createproduct {
  display: block;
  text-decoration: none;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 8px;
  width: 100%;
  padding: 0;
}
.headerCreateProduct {
  background-color: #919191;
  height: 256px;
  position: relative;
}
.iconCreate {
  --widthCreate: 70px;
  --heightCreate: 70px;
  width: var(--widthCreate);
  height: var(--heightCreate);
  background-color: #fff;
  position: absolute;
  top: calc(100% - var(--widthCreate) / 2);
  left: calc(50% - var(--heightCreate) / 2);
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgProduct {
  width: 100%;
  height: 16rem;
}
.titleProduct {
  margin: 0 12px;
  padding: 8px 0;
  line-height: 1.15;
  min-height: 86px;
}
.nameProduct {
  min-height: 100px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgb(39, 39, 42);
  margin: 0px;
  word-break: break-word;
}
.ratingFull {
  min-height: 17px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgb(128, 128, 137);
}
.ratingFull > svg {
  color: #fdd836;
}
.priceProduct {
  display: flex;
  color: rgb(56, 56, 61);
  align-items: center;
}
.haspromotion {
  color: rgb(255, 66, 78);
}
.promotionProduct {
  font-size: 14px;
  height: 14px;
  line-height: 14px;
}
