.product {
  position: relative;
  display: block;
  text-decoration: none;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 8px;
}
.promotionProduct {
  background-color: #d26b18;
  position: absolute;
  top: 7px;
  left: 6px;
  text-transform: uppercase;
  color: #fff;
  line-height: 15px;
  padding: 1px 5px;
  text-align: 'center';
}

.createproduct {
  display: block;
  text-decoration: none;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 8px;
  width: 100%;
  padding: 0;
}
.headerCreateProduct {
  background-color: #919191;
  height: 256px;
  position: relative;
}
.iconCreate {
  --widthCreate: 70px;
  --heightCreate: 70px;
  width: var(--widthCreate);
  height: var(--heightCreate);
  background-color: #fff;
  position: absolute;
  top: calc(100% - var(--widthCreate) / 2);
  left: calc(50% - var(--heightCreate) / 2);
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgProduct {
  width: 100%;
  background-size: contain;
}
.titleProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 9px;
  background-color: #f8f3ed;
}
.nameProduct {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  line-height: 19px;
  color: rgb(39, 39, 42);
  margin-bottom: 6px;
  word-break: break-word;
  min-height: 38px;
  text-align: center;
}
.ratingFull {
  display: flex;
  align-items: center;
  color: rgb(128, 128, 137);
}
.ratingFull > svg {
  color: #fdd836;
  margin-bottom: 6px;
}
.priceProduct {
  display: flex;
  color: rgb(56, 56, 61);
  justify-content: center;
  margin-bottom: 6px;
}
