.fullweb {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5fa;
}
.container .contentPage {
  margin-top: 110px;
  padding-top: 36px;
}
.row .fix-col-xl-3 {
  width: 20%;
  position: relative;
}
.row .fix-col-xl-9 {
  width: 80%;
  display: flex;
}
.btnBackToTop {
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #333;
  border-radius: 50%;
  left: 88%;
  bottom: 40px;
  z-index: 1;
  cursor: pointer;
  color: #fff;
}
