.fullweb {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5fa;
}
.container .contentPage {
  padding-top: 86px;
}
.row .fix-col-xl-3 {
  width: 20%;
  position: relative;
}
.row .fix-col-xl-9 {
  width: 80%;
  display: flex;
}
