.fullweb {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}
.container .contentPage {
  display: flex;
  align-content: start;
  flex-grow: 1;
  margin-top: 110px;
  padding-top: 36px;
  padding-bottom: 36px;
}
.row .fix-col-xl-3 {
  width: 237px;
  position: relative;
}
.row .fix-col-xl-9 {
  display: flex;
  width: calc(1524px - 237px);
}
.btnBackToTop {
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #333;
  border-radius: 50%;
  left: 88%;
  bottom: 40px;
  z-index: 1;
  cursor: pointer;
  color: #fff;
}
.css-ryrseu-MuiRating-root,
.css-1lauo1g-MuiRating-root {
  color: #d26b18 !important;
}
@media (min-width: 1600px) {
  .container {
    min-width: 1524px;
  }
}

/* modal */
.resetModal .modal-content {
  border-radius: 0;
  width: 494px;
}
