.italiana {
  font-family: 'Italiana', serif;
  font-style: normal;
}
.kumbhSans {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}
@font-face {
  font-family: 'JejuMyeongjoRegular';
  src: local('JejuMyeongjoRegular'), url('./fontDownload/JejuMyeongjo-Regular.ttf') format('truetype');
  font-weight: bold;
}
.JejuMyeongjoRegular {
  font-family: 'JejuMyeongjo';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
}
