.modalBox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.boxLogin {
  position: relative;
  top: 47px;
  width: 494px;
  height: 732px;
  border: 1px solid #333;
  background-color: #fff;
  padding: 65px 20px 117px 20px;
}
.boxLogin .iconBoxLogin {
  color: red;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.boxLogin #formBasicCheckbox:focus {
  box-shadow: none;
}
.headerBox {
  display: flex;
  justify-content: center;
}
.textHeaderBox {
  font-size: 40px !important ;
  line-height: 40px !important ;
}
.boxLogin .messError {
  display: flex;
  min-height: 19px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: red;
}
.boxLogin .success {
  display: flex;
  justify-content: center;
  color: green;
}
