.avatarUser {
  width: 15em;
  height: 15em;
  border-radius: 50%;
}
.col-information {
  width: 637px;
}
.borderInput {
  border-radius: 0;
  border: 1px solid #000;
  line-height: 25px;
  padding: 12px 0;
  padding-left: 21px;
}
.avatarPerson {
  display: none;
}
.custom-file-upload {
  margin-top: 68px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: #fff;
  background-color: #000;
}
