.breadCrumb {
  height: 19px;
  margin-bottom: 17px;
}
.linkBreadCrumds {
  color: #1f1f1f;
  font-weight: 300 !important;
  font-size: 15px !important;
  line-height: 19px;
  text-decoration: none;
}
.linkBreadCrumds:hover {
  color: #1f1f1f;
}
.lastPointBreadCrumds {
  color: #000;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 19px;
}
