.backgroundInforShop {
  padding: 30px 0;
  background-color: #919191;
  color: #fff;
}
.imgStore {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}
.inforShopLabel {
  min-width: 10rem;
  display: flex;
  font-weight: 500;
}