.backgroundInforShop {
  padding: 30px 0;
  background-color: #f8f3ed;
  color: #000;
  justify-content: center;
  align-items: center;
}
.imgStore {
  width: 256px;
  height: 256px;
  border-radius: 50%;
  margin-right: 58px;
}
.inforShopLabel {
  min-width: 194px;
  display: flex;
  font-weight: 500;
}
