.modalBox {
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.boxLogin {
  position: relative;
  width: 35%;
  min-width: 400px;
  border: 1px solid #333;
  padding: 60px 30px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}
.boxLogin .iconBoxLogin {
  color: red;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.boxLogin #formBasicCheckbox:focus {
  box-shadow: none;
}
.headerBox {
  display: flex;
  justify-content: center;
}
.boxLogin .messError {
  height: 1rem;
  color: red;
}
.boxLogin .success {
  display: flex;
  justify-content: center;
  color: green;
}