.search {
  overflow: hidden;
  display: flex;
  flex-direction: row;

}
.lineSearch {
  height: 25px;
  width: 1px;
  background-color: #000;
}
.search .btnSearch {
  height: 100%;
  padding: 0 24px;
  border-radius: 0;
}
.contentNav {
  width: 30%;
  max-width: 500px;
}
.contentNav .itemNav {
  display: flex;
  align-items: center;
  min-height: 56px;
}
.contentNav .itemNavIsPerson {
  display: flex;
  align-items: center;
  min-height: 56px;
  border: none;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important
}