.ms-16 {
  margin-left: 1rem;
}
.navBar {
  background: #f8f3ed;
  /* opacity: 0.8; */
  height: 110px;
  padding: 20px 200px 20px 205px;
}
.logoPage {
  cursor: pointer;
  width: 116px;
  height: 51px;
  margin-right: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 116px;
  color: #000000;
}

.search {
  overflow: hidden;
  flex-direction: row;
  width: 847px;
  height: 70px;
}
.textSearch {
  margin-left: 20px;
  padding: 0;
  background-color: #f8f3ed;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  opacity: 0.5;
}
.textSearch:focus {
  background-color: #f8f3ed;
}
.lineSearch {
  height: 50px;
  width: 1px;
  background-color: #000;
}
.search .btnSearch {
  height: 100%;
  border-radius: 0;
  background-color: #f8f3ed;
  line-height: 25px;
}
.contentNav {
  width: 40%;
  max-width: 500px;
}
.contentNav .itemNav {
  display: flex;
  align-items: center;
  color: #000;
}
.contentNav .itemNavIsPerson {
  display: flex;
  align-items: center;
  border: none;
  background-color: #f8f3ed;
  color: var(--bs-nav-link-color);
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu {
  border-radius: 0;
  border-color: #000;
  font-size: 20px;
  --bs-dropdown-min-width: 0;
}
.itemInDropDown {
  min-width: 134px;
}
.notification .dropdown-menu {
  padding: 0;
}
.notification .dropdown-menu[data-bs-popper] {
  left: -200%;
}
.notification .avatarUser {
  width: 70px;
  height: 70px;
}
.notification .messageUserBuy {
  margin-left: 10px;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  width: 300px;
  color: rgb(39, 39, 42);
  margin-bottom: 6px;
  word-break: break-word;
  min-height: 38px;
}
