.contentListProduct {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}
.listProduct {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
}
.headerAnswerSearch {
  width: calc(100% - 8px);
  border: 1px solid #000;
  padding: 8px 16px;
  margin-bottom: 16px;
  margin-left: 8px;
}
.buttonMoreProduct {
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  color: #fff;
  text-align: center;
}
/* .buttonMoreProduct:hover {
  background-color: rgba(0, 96, 255, 0.12) !important;
  opacity: 1 !important;
  color: #fff;
} */
